/* some minor fixes to get the desired look on the webpage */

header {
  display: flex;
  width: 100%;
  /* line-height: 0px; */
}

#words {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.word {
  display: flex;
  flex-wrap: nowrap;
  /* width: 100%; */
}

body {
  background-color: rgb(255, 255, 255);
}

#displayDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  /* background-color: bisque; */
  align-items: center;
}

#nameHeader {
  background-color: black;
  color: lime;
}

#endingCitation {
  text-align: center;
}

#mobileInputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobileInput {
  text-align: center;
}